@import "tailwindcss";

.primary {
  color: #c800cc;
}
.secondary {
  color: #6a0d6c;
}
.bg-primary {
  background-color: #c800cc;
}
.bg-secondary {
  background-color: #6a0d6c;
}
.text-primary {
  color: #c800cc;
}

/* reglas hover (usar estas clases directamente) */
.hover-text-secondary:hover {
  color: #c800cc;
}
.hover-bg-secondary:hover {
  background-color: #c800cc;
}
.hover\:bg-secondary:hover {
  background-color: #e718eb;
}
.hover\:text-secondary:hover {
  color: #6a0d6c;
}

.text-shadow {
  text-shadow: 2px 2px 0 #e718eb;
}

.text-shadow-cyan {
  text-shadow: 2px 2px 0 #00ffab;
}

/* estilos del home */

@keyframes gradientMove {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-250px) translateY(120px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes gradientMove2 {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(250px) translateY(-120px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.animate-gradientMove {
  animation: gradientMove 8s ease-in-out infinite alternate;
}

.animate-gradientMove2 {
  animation: gradientMove2 8s ease-in-out infinite alternate;
}

.text-shadow {
  text-shadow: 2px 2px 0 #c800cc;
}
