---
import MiFoto from "../../assets/img/MiFoto.png";
---

<section class="bg-[#1B0525git] py-20">
  <div
    class="mx-auto flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
  >
    <div
      class="h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#DB23A4]"
    >
      <img
        src={MiFoto.src}
        alt="Foto de Elena Pavón"
        class="h-full w-full object-cover"
      />
    </div>

    <div class="flex-1 text-center text-gray-300 lg:text-left">
      <h2 class="text-3xl font-bold text-white">
        Mi nombre es <span class="text-white text-shadow">Elena Pavón</span>
      </h2>
      
      <p class="mt-4 text-lg">
        Soy <span class="text-[#DB00A6] font-semibold">Data Analyst</span> con un sólido background en marketing digital y comunicación. Mi enfoque se centra en aportar una mirada humana y estratégica al análisis: mi especialidad no es solo extraer información, sino <span class="text-[#DB00A6] font-semibold">filtrar el ruido para identificar los datos que realmente impactan</span>.
      </p>

      <p class="mt-2">
        Transformo esos datos críticos en <span class="text-[#DB00A6] font-semibold">información relevante para la empresa</span> a través de historias visuales claras. Mi objetivo es ser el <span class="text-[#DB00A6] font-semibold">nexo de unión</span> entre el departamento técnico y las áreas de negocio, eliminando las barreras del lenguaje técnico para que las decisiones se tomen basadas en evidencias.
      </p>

      <p class="mt-2">
        Domino el <span class="text-white font-medium">ciclo completo del dato</span>: desde la extracción mediante <span class="text-[#DB00A6]">APIs y SQL</span>, pasando por el análisis con <span class="text-[#DB00A6]">Python</span>, hasta la creación de dashboards de alto impacto en <span class="text-[#DB00A6]">Tableau y Power BI</span>.
      </p>
    </div>
  </div>
</section>
