---
export interface Props {
  titulo: string;
}

const { titulo } = Astro.props;
---

<section
  class="relative text-white py-24 mt-[72px] overflow-hidden
  bg-[linear-gradient(#ffffff10_1px,transparent_1px),linear-gradient(90deg,#ffffff10_1px,transparent_1px)]
  bg-[size:25px_25px] bg-[#030712]
  [mask-image:linear-gradient(to_bottom,black_70%,transparent)]"
>
  <div class="max-w-6xl mx-auto px-6 text-center relative">
    <h1
      class="text-4xl md:text-6xl font-extrabold mb-4 tracking-wide drop-shadow-[0_5px_15px_rgba(185,0,188,0.4)]"
    >
      <span class="text-white drop-shadow-[2px_2px_0_#B900BC]">
        {titulo}
      </span>
    </h1>
    
    <div class="flex justify-center mt-4">
      <span class="h-1.5 w-24 rounded-lg drop-shadow-[2px_2px_0_#00FFAB] bg-[#B900BC]"></span>
    </div>
  </div>
</section>
